body{
    font-family: sans-serif;
    color: #362e2e;
}
a{
    color:#362e2e ;
    text-decoration: none;
}
a:visited{
    color: #362e2e;
}
a.active1{
    color: #00b39b;
    margin-left: 0px;
    
}
a.active2{
    color: #00b39b;
    margin-left: 32px;
}
a.active3{
    color: #00b39b;
    margin-left: 35px;
}
.doc-nav{
    display: flex;
    border: 2px black ;
    justify-content: space-around;
    padding: 10px;
    margin-top: -35px;
    margin-left: -300px;
    
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction-logo{
    margin-top: 96px;
    width: 50px;
    height: 50px;
   
}
.introduction-title{
    color:#00b39b ;
    font-size: 25px;
}
.introduction-text{
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 100%;
    justify-content: space-between;
}
.im1{
    width: 312px;
    height: 35%;
    margin-left: 190px;
    margin-top: 80px;
    padding: 0px;
}
.nav-menu{
    display:flex;
    margin-top:57px;
    margin-left:-27px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.logo1{
    margin-top: 0px;
    width: 36px;
}
.services{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
.services-card-services-patient{
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;


}
.services-card-services-doctor{
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;

}
.services-card-services-clinic{
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
.select1{
display: flex;
flex-direction: column;
width: 200px;
}
#s1{
    border: none;
    background-color:#3d83df  ;
    color: white;
    text-decoration: underline;
}
#s2{
    border: none;
    background-color:#1b2734  ;
    color: white;
    text-decoration: underline;
}

#s0{
    border: none;
    background-color:#00b39b ;
    color: white;
    text-decoration: underline;
}
